{
  "extends": ["standard", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "curly": ["error", "all"],
    "camelcase": 0
  }
}
